<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [12]:
# Your code here
import requests
from bs4 import BeautifulSoup
import pandas as pd

Download the webpage at the url

In [5]:
page = requests.get(url)

Create a soup object

In [6]:
soup = BeautifulSoup(page.content, "html.parser")

Scrape the `Language name` and `annual average salary`.

In [39]:
table = soup.find('table')
table_df = pd.DataFrame(columns=['Language name','Annual Average Salary'])

for row in table.find_all('tr')[1:]:
    cols = row.find_all('td')
    Language_name = cols[1].getText()
    Annual_average_salary = cols[3].getText()
    print('Language name= {}, Annual Average Salary= {}'.format(Language_name, Annual_average_salary))
    table_df = table_df.append({'Language name': Language_name, 'Annual Average Salary': Annual_average_salary}, ignore_index=True)
    table_df

Language name= Python, Annual Average Salary= $114,383
Language name= Java, Annual Average Salary= $101,013
Language name= R, Annual Average Salary= $92,037
Language name= Javascript, Annual Average Salary= $110,981
Language name= Swift, Annual Average Salary= $130,801
Language name= C++, Annual Average Salary= $113,865
Language name= C#, Annual Average Salary= $88,726
Language name= PHP, Annual Average Salary= $84,727
Language name= SQL, Annual Average Salary= $84,793
Language name= Go, Annual Average Salary= $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [40]:
# your code goes here
df = pd.DataFrame(table_df)
df.drop(df.index[0], inplace=True)
df.to_csv('popular-languages.csv')
df

  Language name Annual Average Salary
1          Java              $101,013
2             R               $92,037
3    Javascript              $110,981
4         Swift              $130,801
5           C++              $113,865
6            C#               $88,726
7           PHP               $84,727
8           SQL               $84,793
9            Go               $94,082

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).